html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

 body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.link {
    color: white; 
    text-decoration: none; 
 }

.menu {
    border-style: solid;
    border-color: #f09491;
    background-color: #f09491;
    width: 100%;
    display: flex;
}

.linha {
    border-style: solid;
    border-color: #fff;
    background-color: #fff;
    width: 100%;
    display: flex;
}

.opcao {
    margin-right: 3%;
    margin-left:  3%;
    color: white;
    cursor: pointer;
    border-style: none;

}

.submenu {
    display: none;
    position: absolute;
    color:white;
    background-color: #f09491;
    border: 1px solid #f09491;
    padding: 10px;
}

.submenu1 {
    display: none;
    position: absolute;
    color:white;
    background-color: #f09491;
    border: 1px solid #f09491;
    padding: 10px;
}

.submenu2 {
    display: none;
    position: absolute;
    color:white;
    background-color: #f09491;
    border: 1px solid #f09491;
    padding: 10px;
}

.menuOp {
    width: 100%;
    background-color: #f09491;
    color: white;
}

.conta{
    border-style: none;
    color: white;
    cursor: pointer;
    margin-left: auto;
    margin-right: 3%;
}

.hover {
    background-color: #c78954;
}

.capa{
    border-style: solid;
    border-color: #f09491;
    background-color: #f09491;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.angel{
    color: white;
    font-family: "Sofia", sans-serif;
    font-size: 50px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.menu1 {
    border-style: solid;
    border-color: #f09491;
    background-color: #f09491;
    width: 100%;
    height: auto;
    display: flex;
}

.menu-icon {
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin-left: auto;
  }

.elementos {
    list-style-type: none;
    display: none; /* Oculto por padrão */
    position: absolute; /* Menu suspenso */
    top: 79px; /* Ajusta a posição abaixo do ícone */
    right: 0; /* Alinha à direita */
    background-color: #f09491;
    color: white;
    padding: 10px;
    z-index: 1000; 
}

.elementos li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.font {
    font-size: 15px;
}


@media (max-width: 768px) {
    .angel {
        font-size: 30px; /* Reduz o tamanho da fonte para telas menores */
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .menu {
        display: none; 
    }
    .linha {
        display: none;
    }
}

@media (min-width: 769px) {
    .menu1 {
        display: none;
    }
}